body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #121212;
    background-color: #0d326d;
}
/* Auth */
.auth {
    width: 260px;
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
}
.auth-title {
    margin: 0 0 15px;
    font-size: 20px;
    color: #c61919;
    text-align: center;
}
/* Input */
.input {
    display: block;
    padding: 8px 10px;
    width: 238px;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: 15px;
}
.input:focus {
    outline: 0;
    border-color: #28cbd1;
}