body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #121212;
}
.page {
    width: 800px;
    margin: 20px auto;
}
.header {
    padding: 20px;
    background-color: #121212;
}
.header-title {
    margin: 9;
    font-size: 24px;
    color: #fff;
    text-align: center;
}
.header-subtitle {
    margin: 9;
    font-size: 16px;
    color: #56b6fb;
    text-align: center;
    font-weight: normal
}